@import url("https://fonts.googleapis.com/css?family=Slabo+13px&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");

body {
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  overscroll-behavior-y: none;
  user-select: none;
}

p {
  margin: 0;
}

a {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.canvas {
  width: 100%;
  min-height: 100vh;
  background-color: #000000;
  position: fixed !important;
}

.container {
  width: 100%;
  position: absolute;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: flex-end;
}

.wrapper {
  top: 150vh;
  position: relative;
  height: 200vh;
  width: 50%;
  color: #fff;
  padding-right: 5%;
  text-align: center;
  font-size: 4em;
}

.about-me {
  font-size: 16;
  color: #fff;
  width: 65%;
  display: flex;
  justify-content: flex-start;
  padding: 20vh;
  box-sizing: border-box;
  flex-direction: column;
}
